#Data downloaded from 10X genomics, the lymph node xenium 5K dataset

# All jupyter checkpoint files
.ipynb_checkpoints/

# All python compiled files
#__pycache__/
**/*.pyc
**/*.pyo

# .RData files
**/*.RData
**/*.Rhistory
# All .h5ad files
**/*.h5ad

# Ignore all PNG and PDF files
**/*.png
**/*.pdf
#**/*.csv
**/*.svg


# Ignore Windows system files
Thumbs.db

Figure2/
Figure1/
Testing_other_sc_iCNV_methods/copykat_result_copykat_CNA_raw_results_gene_by_cell.txt
Testing_other_sc_iCNV_methods/copykat_result_copykat_CNA_results.txt
